<h1>Admin Dashboard</h1>


<div class="alert alert-info" role="alert">
    <h4 class="display-4">Product Count: <%=@total_products%></h4>
</div> 

<div class="alert alert-info" role="alert">
     <h4 class="display-4">Product Categories: <%=@total_categories%></h4>
</div> 

 